<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration> 
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=nepagivecamporg.db.6901829.hostedresource.com;Initial Catalog=nepagivecamporg;uid=nepagivecamporg;pwd=n3p@G1v3;" />
    <add name="GiveCampConnectionString" connectionString="Data Source=nepagivecamporg.db.6901829.hostedresource.com;Initial Catalog=nepagivecamporg;uid=nepagivecamporg;pwd=n3p@G1v3;" />
    <add name="nepagivecamporgConnectionString" connectionString="Data Source=nepagivecamporg.db.6901829.hostedresource.com;Initial Catalog=nepagivecamporg;User ID=nepagivecamporg;Password=n3p@G1v3"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime requestValidationMode="2.0" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>

    <healthMonitoring enabled="true">
      <eventMappings>
        <clear/>
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent, System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
      </eventMappings>
      <providers>
        <clear/>
        <add name="EmailErrorProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="jgaylord@nepagivecamp.org" from="jgaylord@nepagivecamp.org" buffer="false" subjectPrefix="NepaGiveCamp.org Exception" bodyHeader="Here's the exception:" />
      </providers>
      <rules>
        <clear/>
        <add name="Default Email Provider Rule" eventName="All Errors" provider="EmailErrorProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom=""/>
      </rules>
    </healthMonitoring>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="jgaylord@nepagivecamp.orgm">
        <network host="smtpout.secureserver.net" defaultCredentials="true" userName="jgaylord@nepagivecamp.org" password="lisa1119"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>